.plan-cards {
  display: grid; 
  grid-template-rows: repeat(3, auto);
}
.plan-li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.plan-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  margin-left: 5px;
}
.plan-but {
  display: flex;
  flex-direction: column;
}
.plan-but span {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #0b132a;
}
.plan-but button {
  width: 140px;
  height: 40px;
  border: 1px solid #f53838;
  border-radius: 20px;
  color: #f53838;
  font-size: 16px;
}
